body{
    background-color: #f5f5f5;
}
aside{
    position: fixed;
    display: flex;
    align-items: center;
    
    top:0;
    left: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    width: 300px;
    height: 100%;

    background-color: brown;
}

.aside-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;

    width: 250px;
}

.profil{
    margin: auto;
}

#profil-photo{
    border: solid, red;
}
.name{
    margin: 20px 0 20px 0;
    padding-left: 20px;
    color: rgb(255, 255, 255);
}#profil-name{  
    font-size: 1.5em;
    font-weight: bold;
}#profil-firstname{color: rgb(202, 159, 159);
    font-size: 1em;
}

.menu  {
    display: flex;
    flex-direction: column;
}

.btn{
    list-style: none;
    background-color:brown; /* Green */
    color: rgb(255, 175, 175);
    padding : 10px 0 10px 0;
    margin: 5px 0 5px 0;
    text-align: center; 
    text-decoration: none;
    font-size: 16px;
    
    width: 100%;
    border-radius: 8px;

    box-shadow : -4px 4px 12px rgb(26, 25, 25);
}
.btn:hover{
    background-color: rgb(209, 90, 90);
    
}

.main{
    z-index: 1;
    border: solid 2px coral ;
    width: 100px;
}

.main-content{
    margin-left: 300px;
}
.part{
    background: linear-gradient(rgb(211, 209, 209), #f5f5f5);
    margin-bottom:50px;
}
.item {
    margin: 5px 0 30px 40px;
}.date{ 
    display: inline-block;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 15px 5px 5px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: rgb(147, 155, 155);
}.date .date{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
}#profil .date{
    color : black;
}#interet .date{
    color:black;
    background-color: rgb(43, 209, 28);
}#telephone{
    background-color: darkgreen;
    margin-top: 0;
    margin-bottom: 0;
}#mail{
    background-color: rgb(184, 5, 5);
    margin-top: 0;
    margin-bottom: 0;
}#facebook{
    background-color: rgb(11, 40, 172);
    margin-top: 0;
    margin-bottom: 0;
}   
.date:hover{
    background-color: rgb(178, 178, 206);
}

.description{
    margin-bottom: 10px;
}

h1{
    word-spacing: 4px;
    background-color: rgb(167, 67, 67);
    color: rgb(22, 22, 22);
}

a{
    transition: 1s;
}

p{
    margin-left: 50px;
}